@page
@{
    ViewData["Title"] = "Quem Somos";
}
<h1 class="pt-4">@ViewData["Title"]</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <p>Somos uma apaixonada equipe de colecionadores de discos de vinil. Nossa loja foi fundada em 1990 e desde então nos dedicamos a oferecer uma ampla seleção de discos de vinil, desde clássicos até edições especiais e raridades. Nosso objetivo é promover a paixão pela música e preservar a experiência única de ouvir discos de vinil.</p>

            <h3>Nossos Valores</h3>
            <ul>
                <li>Qualidade e autenticidade dos produtos</li>
                <li>Atendimento personalizado e especializado</li>
                <li>Promoção da cultura musical e do vinil</li>
                <li>Satisfação do cliente em primeiro lugar</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="/images/front_store.jpg" class="img-fluid" alt="Loja de Discos">
            <p class="mt-2">Venha e descubra o prazer de colecionar discos de vinil!</p>
        </div>
    </div>
</div>