@page
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1 class ="pt-4">@ViewData["Title"]</h1>

<div class="container">

    <div class="row">
        <div class="col-md-10 offset-md-1">

            <p>A Som das Antigas se preocupa com a privacidade de nossos visitantes e usuários, e estamos comprometidos em proteger suas informações pessoais. Esta Política de Privacidade descreve como coletamos, usamos, divulgamos e protegemos as informações que você nos fornece ao usar nosso site e serviços relacionados.</p>

            <h2>Informações que Coletamos</h2>
            <p>Podemos coletar as seguintes informações pessoais:</p>
            <ul>
                <li>Informações de contato, como nome, endereço de e-mail, endereço postal e número de telefone.</li>
                <li>Informações de pagamento, como detalhes do cartão de crédito/debito ou outras informações financeiras para processar transações.</li>
                <li>Informações demográficas, preferências e interesses, quando fornecidas voluntariamente.</li>
                <li>Informações de conta e perfil do usuário.</li>
            </ul>


            <p><strong>Alterações nesta Política de Privacidade</strong></p>
            <p>Reservamos o direito de atualizar ou fazer alterações nesta Política de Privacidade. As alterações serão refletidas nesta página com a data de revisão atualizada.</p>

            <p><strong>Contato</strong></p>
            <p>Se você tiver dúvidas, preocupações ou solicitações relacionadas à sua privacidade, entre em contato conosco através das informações abaixo:</p>
            <p>contato@somdasantigas.com.br</p>
        </div>
    </div>
</div>

